extends base

block vars
  - var title = 'ITESM Campus Tampico'
  - var description = 'Inicia Sesión con tu cuenta institucional'
  - var bodytag = 'login'
  - var socialProviders = stormpathConfig.socialProviders
  - var registerFields = stormpathConfig.web.register.fields

block body

  .container.custom-container
    .va-wrapper
      .view.login-view.container
        if status
          .box.row
            .email-password-area.col-xs-12.large.col-sm-12
              .header
                if status === 'unverified'
                  span.
                    ¡Tu Email con el link de verificación se ha enviado!
                  p.
                    Antes de que puedas acceder a tu cuenta, debes activar tu
                    cuenta haciendo click en el link que mandamos a tu correo.
                  p.
                    ¿No recibiste el correo? <a href="#{stormpathConfig.web.verifyEmail.uri}">Click Aquí</a>.
                  br
                if status === 'verified'
                  span.
                    Tu cuenta ha sido verificada
                  p.
                    Ahora puedes acceder.
                if status === 'created'
                  span.
                    Tu cuenta ha sido creada.
                  p.
                    Ahora puede acceder.
                if status === 'reset'
                  span.
                    Contraseña restrablecida.
                  p.
                    Ahora puede acceder con tu contraseña nueva.
                  br
                if status === 'forgot'
                  span.
                    Solicitud de restablecer contraseña.
                  p.
                    Si la cuenta existe con el correo registrado, recibiras 
                    el correo brevemente.
          br
        .box.row
          if hasSocialProviders
            - var cls = 'small col-sm-8'
          else
            - var cls = 'large col-sm-12'

          div(class='email-password-area col-xs-12 #{cls}')
            .header
              if stormpathConfig.web.register.enabled
                span.
                  Inicia Sesión o <a href="#{stormpathConfig.web.register.uri}">Crea una cuenta</a>
              else
                span.
                  Iniciar Sesión

            if error
              .alert.alert-danger.bad-login
                p #{error}

            if formErrors
              .alert.alert-danger.bad-login
                each error in formErrors
                  p #{error.error}

            form.login-form.form-horizontal(method='post', role='form',action=formActionUri)
              input(name='_csrf', type='hidden', value=csrfToken)

              .form-group.group-email
                if hasSocialProviders
                  - var cls = 'col-sm-12'
                else
                  - var cls = 'col-sm-4'

                if registerFields.username && registerFields.username.enabled
                  label(class='#{cls}') Username or Email
                else
                  label(class='#{cls}') Correo institucional

                if hasSocialProviders
                  - var cls = 'col-sm-12'
                else
                  - var cls = 'col-sm-8'

                div(class='#{cls}')
                  - var value = form.data ? form.data.login : '';
                  if registerFields.username && registerFields.username.enabled
                    input.form-control(autofocus='true', placeholder='Username or Email', required=true, name='login', type='text', value=value)
                  else
                    input.form-control(autofocus='true', placeholder='AXX@itesm.mx o LXX@itesm.mx', required=true, name='login', type='text', value=value)

              if hasSocialProviders
                - var cls = 'col-sm-12'
              else
                - var cls = 'col-sm-4'

              .form-group.group-password
                label(class='#{cls}') Contrasña

                if hasSocialProviders
                  - var cls = 'col-sm-12'
                else
                  - var cls = 'col-sm-8'

                div(class='#{cls}')
                  input.form-control(placeholder='Contraseña', required=true, type='password', name='password')

              div
                button.login.btn.btn-login.btn-sp-green(type='submit') Iniciar Sesión

          if hasSocialProviders
            .social-area.col-xs-12.col-sm-4
              img.img-responsive.hidden-xs(src="img/logo.png" alt="logotipo")
              label Inicia Sesión con Facebook:
              if socialProviders.facebook && socialProviders.facebook.enabled
                include facebook_login_form.jade
              if socialProviders.google && socialProviders.google.enabled
                include google_login_form.jade
              if socialProviders.linkedin && socialProviders.linkedin.enabled
                include linkedin_login_form.jade

        if stormpathConfig.web.verifyEmail.enabled
          a.forgot(style="float:left", href="#{stormpathConfig.web.verifyEmail.uri}") ¿Reenviar Email de Verificación?
        if stormpathConfig.web.forgotPassword.enabled
          a.forgot(style="float:right", href="#{stormpathConfig.web.forgotPassword.uri}") ¿Olvidaste tu contraseña?
